#profile-show-main{
    /* border-top: 1px solid white; */
    border-radius: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin: 3%; */
}


.profile-header{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 98%;
    padding: 1%;
    margin: 1%;
}

.profile-content-main{
    width: 100%;
    height: 90%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

/*========================================== SONG UPLOAD =================================== */


#song-upload-main{
    border-radius: 5px;
    height: 100%;
    width: 20%;
    padding: .5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.5s ease;
    /* background: linear-gradient(180deg, #6A0D83 0%, #80287D 20%, #954178 40%, #AB5D72 60%, #C47B6C 80%, #EEAF61 100%); */
}

#song-upload-main:hover{
    box-shadow: 0px 4px 4px 1px #e2e2e2
}

#song-upload-main.dark{
    border-radius: 5px;
    height: 100%;
    width: 20%;
    padding: .5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(180deg, #1BA2B1 40%, #7FC2CA 65%, #EEAF61 85%, #FB9062 95%, #EE5D6C 100%);
    /* box-shadow: 0px 0px 1px 1px #6A0D83 */
}



#song-upload-main h2{
    color: bisque;
    font-size: large;
    text-decoration: underline;
}


#upload-file-input{
    /* border: 1px solid red; */
    color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}


.user-stats-main{
    border: 1px solid #e2e2e2;
    box-shadow: 1px 3px 4px 1px #adadad;
    transition: all 0.5s ease;
    border-radius: 10px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}




@keyframes userStatFadeFromRight {
    0%{
        /* right: -1000; */
        width: 0%;
    }
    100%{
        /* right: 0; */
        opacity: 100%;
    }

}

.user-stats{
    animation: userStatFadeFromRight 1s ease;
    transition: all 0.5s ease;
    border-radius: 10px;
    height: 90%;
    width: 60%;
    /* box-shadow: 3px 3px 4px 1px #e2e2e2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user-stats:hover{
    border: 1px solid #e2e2e2;
    box-shadow: -1px -1px 4px 2px #adadad
}

.user-content-stats{
    /* border: 1px solid black; */
    width: 100%;
    height: 30%;
    padding: 1%;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}   

.user-stat-box{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: fit-content;
    gap: 10px;
}
@keyframes statFadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100;
    }
}


.user-stat-box:hover{

}
.user-stat-box h1, h4{
    animation: statFadeIn 4s ease;
    transition: all 4s ease;
}

