#profile-show-main{
    /* border-top: 1px solid white; */
    border-radius: 10px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2px;
}


.profile-header{
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 98%;

}