#left-bar{
    border-radius: 0px 0px 45px 0px;
    border-right: 1px solid rgba(226, 226, 226, 0.50);
    width: 10%;
    height: 70vh;
    display: flex;
    margin: 1% 1% 0% 0%;
    padding: 1vh 2.5vh 2.5vh 2.5vh;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.album-track-index-icons{
    border: 1px solid rgba(226, 226, 226, 0.50);
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    gap: 20%;
}

.link-icon{
    color: #e2e2e2;
}

.link-icon-add{
    color: #e2e2e2;
    transition: all 0.5s ease;
}

.link-icon-add:hover{
    border-bottom: 1px solid rgba(226, 226, 226, 0.50);
    cursor: pointer;
}

.playlist-list-main{
    /* border: 1px solid #e2e2e2; */
    width: 100%;
    height: 80%;
    overflow: auto;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    
    /* gap: 5px; */
}
.playlist-list-main::-webkit-scrollbar{
    display: none;
}


.playlist-list{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist-list-item{
    border-bottom: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 20%;
    text-decoration: none;
    color: #e2e2e2;
    transition: all 0.3s ease-in-out;
    padding: 2px;
}

.playlist-list-item:hover{
    box-shadow: 3px 3px 3px 0px #e2e2e2;
    cursor: pointer;
}

.playlist-list-item p{
    padding: 0;
}

.profile-button{
    border: 1px solid white;
    width: 40%;
    height: 10%
}

.profile-button:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}



