#left-bar{
    border-radius: 0px 0px 45px 0px;
    border-right: 1px solid rgba(226, 226, 226, 0.50);
    width: 10%;
    height: 70vh;
    display: flex;
    margin: 1% 1% 0% 0%;
    padding: 1vh 2.5vh 2.5vh 2.5vh;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.album-track-index-icons{
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    gap: 20%;
}

.profile-button{
    border: 1px solid white;
    width: 40%;
    height: 10%
}

.profile-button:hover{
    background-color: #e2e2e2;
    cursor: pointer;
}

