#nav-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid white; */
    height: 7vh;
}

#nav-main h1{
    align-items: center;
}



#nav-auth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    /* border: 1px solid white; */
}


.light-dark-mode-icon{
    color: #e2e2e2;
    transition: color 0.7s ease;
}

.light-dark-mode-icon:hover{
    color: #F5C400;
    cursor: pointer;

}