#audio-footer-main{
    /* border: 1px solid white; */
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 100px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#controls-progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}

.progress-bar-wrapper {
  flex-grow: 1;
  margin: 0 10px;
  cursor: pointer;
}

.progress-bar {
  height: 5px;
  background-color: #1db954; /* Spotify's green color */
  width: 0; /* Will be dynamically set based on the progress */
  transition: width 0.3s ease; /* Add a smooth transition effect */
}



.remove-track{
  position: fixed;
  right: 0;
  border: 1px solid white;
}