@font-face {
  font-family: 'Quicksand Medium';
  src: url('../style/Fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand Regular';
  src: url('../style/Fonts/Quicksand-Regular.ttf');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



#single-track-main{
    /* border: 1px solid white; */
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    gap: 10px;
    padding: 10px;
    border-radius: 0px 0px 0px 15px;
    border-bottom: 1px solid rgba(226, 226, 226, 0.75);
    transition: all 0.3s ease;
    animation: fadeIn 0.5s ease-out;
    
    
}

#single-track-main:hover{
  box-shadow: 0px 4px 0px 0px #e2e2e2;
  border-color: #e2e2e2;
}
.play-button{
  width: 3%;
  height: 40%;
  flex-shrink: 0;
  border-radius: 90px;
  background: linear-gradient(90deg, #1BA2B1 0%, rgba(251, 216, 127, 0.57) 100%);
  transition: all 0.5s ease;
}

.play-button:hover{
  transition: all 0.5s ease;
  background: linear-gradient(90deg,#6A0D83, #80287D, #954178, #AB5D72, #C47B6C, #EEAF61)
}

.track-title{
    font-family: 'Quicksand Regular';
    color: #e2e2e2;
}

.title-artist{
  font-family: "Quicksand Regular";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
