#album-show-main {
  border-bottom: 1px solid #e2e2e2;
  border-radius: 15px;
  margin: 0% 1% 1% 1%;
  height: 85%;
}

.album-show-header{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  height: 15%;
  width: 100%;
  align-items: flex-end;
  padding: 2px
}

.album-show-info {
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75%;
  width: 95%;
  padding-left: 2%
}

.album-show-info img {
  max-height: 75%;
}

.remove-album-hover{
  margin-right: 20px;
  /* border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2; */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border-right: 1px solid #e2e2e2; */
  padding: 5px;
  background: #F15156;
}


#remove-album{
  visibility: hidden;
  height: 0;
  margin-right: 20px;
  transition: all 0.3s ease;
  opacity: 0;
}
#remove-album.active{
  background: #F15156;
  visibility: visible;
  margin-right: 20px;
  /* border-left: 1px solid white; */
  border-bottom-left-radius: 5px;
  height: 30px;
  opacity: 100;
  padding: 5px;
}

#remove-album.active:hover{
  cursor: pointer;
}

#remove-album.active h3:hover{
  
  cursor: pointer;
}



@keyframes animatename{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 100;
    transform: translateY(0px);
  }
}

#delete-album-modal{
  border: 1px solid white;
  position: absolute;
  height: 100px;
  width: 300px;
  /* background: black; */
  animation: animatename 1s ease;
  right: 200px;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
